<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <title>Please Login</title>
</head>
<body>
<div>
    <form name="f" th:action="@{/login}" method="post">
        <fieldset>
            <legend>Please Login</legend>
            <div th:if="${param.error}">
                Invalid username and password.
            </div>
            <div th:if="${param.logout}">
                You have been logged out.
            </div>
            <label for="username">Username</label>
            <input type="text" id="username" name="username"/>
            <label for="password">Password</label>
            <input type="password" id="password" name="password"/>
            <button type="submit">Log in</button>
        </fieldset>
    </form>
</div>
</body>
</html>
