<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean
        id="firstNote"
        class="io.sfe.beandefinition.Note"
        init-method="init"
    >
        <property name="text" value="Let's party!"/>
    </bean>

    <bean
        id="secondNote"
        class="io.sfe.beandefinition.Note"
        init-method="init"
    >
        <property name="text" value="Let's party twice!"/>
    </bean>

    <bean
        id="noteService"
        class="io.sfe.beandefinition.NoteService"
        init-method="init"
        lazy-init="true"
    >
        <property name="notes">
            <list>
                <ref bean="firstNote"/>
                <ref bean="secondNote"/>
            </list>
        </property>
    </bean>
</beans>
